* {
    margin: 0;
    padding: 0;
}
body {
    margin-left: 10px;
    margin-right: 10px;
    width: 100vw;
    height: 100vh;
}
.pozadina {
    background-color: rgb(255, 238, 200);
}
.paragraf {
    background: url("./resources/images.jpg");
    width: 100%;
    height: 400px;
    
}
h1 {
    text-align: center;
    color: slategray;
    font-weight: bold;
    font-size: 50px;
    padding-top: 20px;
}

nav ul {
    height: 7vh;
    display: inline-block;
    font-size: 20px;
    font-style: bold;
    text-align: right;
    width: 100vw;
    }
nav ul li {
    display: inline-block;
    text-align: center;
    padding-right: 40px;
    padding-top: 20px;
}
main {
    padding-top: 50px;
    height: 63vh;
}
#opis {
    font-size: 25px;
    text-align:center;
    padding-top: 150px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
    color:black
}
.daljeopis {
    text-align: center;
    font-size: 25px;
    padding-bottom: 40px;
}
#obrazovanje {
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
    color:rgb(44, 66, 92);
}
ol{
    padding-left: 35%;
    padding-top: 20px;
    display: inline-block;
    text-align: center;
    font-family: fantasy;
    padding-bottom: 50px;    
}
ol > li {
    padding-top: 10px;
    font-size: 30px;
    color: rgb(33, 88, 88);
}
ol > ul{
    color: slategrey;
    font-size: 25px;
}
#poslovi {
    text-align: center;
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 50px;
    color: rgb(44, 66, 92);
}
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr ;
    gap: 1px 1px;
    grid-template-areas: "slika1 slika2 slika3";
    padding-left: 100px;
    padding-top: 20px;
  }
  
.slika1 {grid-area: slika1; padding-top: 80px; }
  
.slika2 {  border-radius: 70px;grid-area: slika2; }
  
.slika3 {grid-area: slika3; padding-top: 80px; }

table, th {
    background-color: #e4ba6c;
    text-align: center;
    padding-left: 20px;
    width: 99vw;
}
th {
    font-size: 20px;
    padding-right: 14px; 
    text-align: left;
    border-top: 2px dotted black    
}
td {
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
    
}
#kontakt {
    padding-left: 300px;
    padding-top: 80px;
}
#futer {
    list-style-type: none;
    float: right;
    margin-top: 7%;
    color: gray;
    padding-top: 70%;
}
#futer li {
    display: inline-block;
    word-spacing: 5px;
}
#mica {
    float: right;
    margin-right: 40px;
    margin-top: 5%;
    padding-top: 70%;
}